.preview {
   flex: 1;
   max-width: 100%;
   background-color: var(--preview-background-color);
   border: 1px solid var(--preview-stroke-color);
   border-right: none;
   border-top-left-radius: 30px;
   border-bottom-left-radius: 30px;
   overflow: hidden;
}
